.THIS table, .THIS th, .THIS td {
    border-collapse: collapse;
    border: 1px solid black;
}

.THIS th, .THIS td {
    padding: 2px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}